{{> showmsg msg=msg}}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="card">
        <img src="default-image.jpg" class="rounded-pill card-img-top mx-auto d-block mt-3" alt="..." style="width: 10rem;"> 
    <div class="card-body">
      <h5 class="card-title">{{users.username}}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
  
 </div>
  
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="card text-center" style="width: 21rem;">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">
          {{users.username}}
          </p>
          <a href="#" class="btn btn-primary">Edit</a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Father Name</h5>
            <p class="card-text">
              {{users.fathername}}
              </p>
              <a href="#" class="btn btn-primary">Edit</a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Birthday</h5>
                <p class="card-text">
                  {{users.birthday}}
                  </p>
                  <a href="#" class="btn btn-primary">Edit</a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Identity Number</h5>
                    <p class="card-text">
                      {{users.identitynumber}}
                      </p>
                      <a href="#" class="btn btn-primary">Edit</a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Age</h5>
                        <p class="card-text">
                          {{users.age}}
                          </p>
                          <a href="#" class="btn btn-primary">Edit</a>
                          </div>
                  </div>
        </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="card">
      <div class="card-body"><i class="fas fa-envelope-open-text"></i> &nbsp;
  {{users.email}}</div>
  </div>
  </div>
</div>
</div>